* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-family-calibri {
  font-family: 'Calibri';
}

.font-family-default {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(6, 76, 92) 0%, rgb(88, 100, 208) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #a5a5a5;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.todo-container {
  overflow-y: auto;
  height: 400px;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(2n + 2) {
  background: linear-gradient(90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.date {
  font-size: 16px;
  padding-right: 5px;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
  cursor: pointer;
}

.edit-icon {
  color: #fff;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #343c64; */
  background: #343c64;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b3253;
}

@media only screen and (max-width : 900px) {
  .todo-app {
    width: 420px;
  }

  .todo-input {
    padding: 10px 28px 10px 12px;
    width: 290px;
  }

  .todo-button {
    padding: 12px;
  }
}

@media only screen and (max-width : 556px) {
  .todo-app {
    width: 340px;
  }

  .todo-input {
    width: 230px;
  }
}

@media only screen and (max-width : 556px) {
  .todo-app {
    width: 340px;
    margin: 60px auto;
  }

  .todo-input {
    width: 230px;
  }
}

@media only screen and (max-device-width : 375px) and (max-device-width : 667px) {
  .todo-app {
    width: 300px;
    margin: 30px auto;
  }

  h1 {
    font-size: 23px;
  }

  .todo-input {
    width: 190px;
  }
}

.letter-container {
  background-color: #2b3253;
  position: fixed;
  top: 160px;
  right: 757px;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}

.letter-button {
  font-size: 24px;
  color: white;
}
